  <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
<br>
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title text-uppercase font-medium font-14" style="font-weight: bold;">Dashboard/Meal Plans</h4>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>


            <!-- main content  -->
            <div class="container-fluid">
                <div class="container my-5">


                    <!--Section: Content-->
                    <section class="magazine-section dark-grey-text">

                        <!-- Section heading -->
                        <h3 class="text-center font-weight-bold mb-4 pb-2">MEAL PLANS</h3>
                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-lg-6 col-md-12">

                                <!-- Small news -->
                                <div class="single-news mb-4">

                                    <!-- Grid row -->
                                    <div class="row">

                                        <!-- Grid column -->
                                        <div class="col-md-3">

                                            <!--Image-->
                                            <div class="view overlay rounded z-depth-1 mb-4">
                                                <img class="img-fluid"
                                                    src="{{customer.meal.mon.image}}"
                                                    alt=" image">
                                                <a>
                                                    <div class="mask rgba-white-slight"></div>
                                                </a>
                                            </div>

                                        </div>
                                        <!-- Grid column -->

                                        <!-- Grid column -->
                                        <div class="col-md-9">

                                            <!-- Excerpt -->
                                            <p class="font-weight-bold dark-grey-text">Monday</p>
                                            <div class="d-flex justify-content-between">
                                             {{customer.meal.mon.mealName}}
                                            </div>

                                        </div>
                                        <!-- Grid column -->

                                    </div>
                                    <!-- Grid row -->

                                </div>
                                <!-- Small news -->

                                <!-- Small news -->
                                <div class="single-news mb-4">

                                    <!-- Grid row -->
                                    <div class="row">

                                        <!-- Grid column -->
                                        <div class="col-md-3">

                                            <!--Image-->
                                            <div class="view overlay rounded z-depth-1 mb-4">
                                                <img class="img-fluid"
                                                    src="{{customer.meal.tue.image}}"
                                                    alt="Sample image">
                                                <a>
                                                    <div class="mask rgba-white-slight"></div>
                                                </a>
                                            </div>

                                        </div>
                                        <!-- Grid column -->

                                        <!-- Grid column -->
                                        <div class="col-md-9">

                                            <!-- Excerpt -->
                                            <p class="font-weight-bold dark-grey-text">Tuesday </p>
                                            <div class="d-flex justify-content-between">
                                                {{customer.meal.tue.mealName}}
                                            </div>

                                        </div>
                                        <!-- Grid column -->

                                    </div>
                                    <!-- Grid row -->

                                </div>
                                <!-- Small news -->

                                <!-- Small news -->
                                <div class="single-news mb-lg-0 mb-4">

                                    <!-- Grid row -->
                                    <div class="row">

                                        <!-- Grid column -->
                                        <div class="col-md-3">

                                            <!--Image-->
                                            <div class="view overlay rounded z-depth-1 mb-lg-0 mb-4">
                                                <img class="img-fluid"
                                                    src="{{customer.meal.wed.image}}"
                                                    alt="Sample image">
                                                <a>
                                                    <div class="mask rgba-white-slight"></div>
                                                </a>
                                            </div>

                                        </div>
                                        <!-- Grid column -->

                                        <!-- Grid column -->
                                        <div class="col-md-9">

                                            <!-- Excerpt -->
                                            <p class="font-weight-bold dark-grey-text">Wednesday</p>
                                            <div class="d-flex justify-content-between">
                                                {{customer.meal.wed.mealName}}
                                            </div>

                                        </div>
                                        <!-- Grid column -->

                                    </div>
                                    <!-- Grid row -->

                                </div>
                                <!-- Small news -->

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-lg-6 col-md-12">

                                <!-- Small news -->
                                <div class="single-news mb-4">

                                    <!-- Grid row -->
                                    <div class="row">

                                        <!-- Grid column -->
                                        <div class="col-md-3">

                                            <!--Image-->
                                            <div class="view overlay rounded z-depth-1 mb-4">
                                                <img class="img-fluid"
                                                    src="{{customer.meal.thur.image}}"
                                                    alt="Sample image">
                                                <a>
                                                    <div class="mask rgba-white-slight"></div>
                                                </a>
                                            </div>

                                        </div>
                                        <!-- Grid column -->

                                        <!-- Grid column -->
                                        <div class="col-md-9">

                                            <!-- Excerpt -->
                                            <p class="font-weight-bold dark-grey-text">Thursday</p>
                                            <div class="d-flex justify-content-between">
                                                {{customer.meal.thur.mealName}}
                                            </div>

                                        </div>
                                        <!-- Grid column -->

                                    </div>
                                    <!-- Grid row -->

                                </div>
                                <!-- Small news -->

                                <!-- Small news -->
                                <div class="single-news mb-4">

                                    <!-- Grid row -->
                                    <div class="row">

                                        <!-- Grid column -->
                                        <div class="col-md-3">

                                            <!--Image-->
                                            <div class="view overlay rounded z-depth-1 mb-4">
                                                <img class="img-fluid"
                                                    src="{{customer.meal.fri.image}}"
                                                    alt="Sample image">
                                                <a>
                                                    <div class="mask rgba-white-slight"></div>
                                                </a>
                                            </div>

                                        </div>
                                        <!-- Grid column -->

                                        <!-- Grid column -->
                                        <div class="col-md-9">

                                            <!-- Excerpt -->
                                            <p class="font-weight-bold dark-grey-text">Friday</p>
                                            <div class="d-flex justify-content-between">
                                                {{customer.meal.fri.mealName}}
                                            </div>

                                        </div>
                                        <!-- Grid column -->

                                    </div>
                                    <!-- Grid row -->

                                </div>
                                <!-- Small news -->

                                <!-- Small news -->
                                <div class="single-news mb-4">

                                    <!-- Grid row -->
                                    <div class="row">

                                        <!-- Grid column -->
                                        <div class="col-md-3">

                                            <!--Image-->
                                            <div class="view overlay rounded z-depth-1 mb-md-0 mb-4">
                                                <img class="img-fluid"
                                                    src="{{customer.meal.sat.image}}"
                                                    alt="Sample image">
                                                <a>
                                                    <div class="mask rgba-white-slight"></div>
                                                </a>
                                            </div>

                                        </div>
                                        <!-- Grid column -->

                                        <!-- Grid column -->
                                        <div class="col-md-9">

                                            <!-- Excerpt -->
                                            <p class="font-weight-bold dark-grey-text">Saturday</p>
                                            <div class="d-flex justify-content-between">
                                               {{customer.meal.wed.mealName}}
                                            </div>

                                        </div>
                                        <!-- Grid column -->

                                    </div>
                                    <!-- Grid row -->

                                </div>
                                <!-- Small news -->

                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-lg-6 col-md-12">

                                <!-- Small news -->
                                <div class="single-news mb-4">

                                    <!-- Grid row -->
                                    <div class="row">

                                        <!-- Grid column -->
                                        <div class="col-md-3">

                                            <!--Image-->
                                            <div class="view overlay rounded z-depth-1 mb-4">
                                                <img class="img-fluid"
                                                    src="{{customer.meal.sun.image}}"
                                                    alt="Sample image">
                                                <a>
                                                    <div class="mask rgba-white-slight"></div>
                                                </a>
                                            </div>

                                        </div>
                                        <!-- Grid column -->

                                        <!-- Grid column -->
                                        <div class="col-md-9">

                                            <!-- Excerpt -->
                                            <p class="font-weight-bold dark-grey-text">Sunday</p>
                                            <div class="d-flex justify-content-between">
                                               {{customer.meal.sun.mealName}}
                                            </div>

                                        </div>
                                        <!-- Grid column -->

                                    </div>
                                    <!-- Grid row -->

                                </div>
                                <!-- Small news -->
                                <!-- Small news -->

                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->

                    </section>
                    <!--Section: Content-->


                </div>
            </div>
            <!-- End main content  -->
        </div>
    </main>